.tablet-samples {
    background-color: #090808;
    padding-top: 40px;
    display: grid;
    grid-template-rows: max-content max-content;
    align-items: center;
    justify-items: center;
    grid-row-gap: 50px;
}

.tablet-description {
    color: white;
    display: grid;
    align-items: center;
    font-size: 24px;
    width: 70%;
}

.tablet-slider-wrapper {
    width: 100%;
    display: grid;
    justify-items: center;
}

.tablet-slider {
    width: 90%;
    max-width: 600px;
}

.tablet-slider button {
    padding: 0px;
    min-width: 24px;
}
